<!--
  Generated template for the Page4Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>StoryTeller</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="efg">
  <!-- <div *ngIf="e"> -->
  <h1>Fiction</h1>
    <h2>Fantasy</h2>
    <h2>Romance</h2>
    <h2>Drama</h2>
    <h2>Horror</h2>   
    <h2>Mythology</h2>
    <br>
    <ion-buttons>
      <button ion-button round (click)="next1()" class="buttn">next--->

      </button>
    </ion-buttons>
  <!-- </div> -->
  <!-- <div *ngIf="g"> -->
  
  <br>
  <br>
  <br>
  
    <h1>Non-Fiction</h1>  
    <h2>Biography</h2>
    <h2>Essay</h2>
    <h2>Speech</h2>
    <h2>Self-Help Book</h2>
    <h2>Reference Book</h2>
  <!-- </div> -->
  <br>
  <ion-buttons>
    <button ion-button round (click)="next2()" class="buttn">next--->

    </button>
  </ion-buttons>
  </ion-content>
