page-page4 {
    .efg{
        background-image: url("../assets/imgs/new.webp");
        background-repeat: no-repeat;
        background-attachment: fixed;
    background-size:100% 100%;

   }
   h2{
       margin-left:120px;
       color:aliceblue;
   }
   .buttn{
       margin-left:120px;
   }

}
