page-home {
    



.abc{
    background-image: url("../assets/imgs/book5.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}
h1{
    margin-left: 120px;
}
p{
    font-size: 55px;
}
}