page-page5 {
    
    .bcf{
        background-image: url("../assets/imgs/shelf.jpg");
        background-repeat: no-repeat;
        position:relative;
        background-attachment: fixed;
    background-size:100% 100%;
    }
    .pic1{
        background-image: url("../assets/imgs/american.jpg");
        background-repeat: no-repeat;
        position:relative;
        

    }
    .pic2{
        background-image: url("../assets/imgs/loves.png");
        background-repeat: no-repeat;
        position:relative;

    }
    .pic3{
        background-image: url("../assets/imgs/image111.jpg");
        background-repeat: no-repeat;
        position:relative;
    }
    .pic4{
        background-image: url("../assets/imgs/dollhouse.jpg");
        background-repeat: no-repeat;
        position:relative;
    }
    .pic5{
        background-image: url("../assets/imgs/mytho.jpeg");
        background-repeat: no-repeat;
        position:relative;
    }
    
    .pic{
        color:aliceblue;
    }
    
    .call1{
        color:whitesmoke;
        margin-left:30px;
    }
    

}
