page-page6 {
    .fgh{
        
            background-image: url("../assets/imgs/shelf.jpg");
            background-repeat: no-repeat;
            position:relative;
            background-attachment: fixed;
    background-size:100% 100%;
    }
    .pic{
        color:aliceblue;
    }
    .pic6{
        background-image: url("../assets/imgs/biography.jpg");
        background-repeat: no-repeat;
        position:relative;
    }
    .pic7{
        background-image: url("../assets/imgs/book4.jpeg");
        background-repeat: no-repeat;
        position:relative;
    }
    .pic8{
        background-image: url("../assets/imgs/king.jpg");
        background-repeat: no-repeat;
        position:relative;
    }
    .pic9{
        background-image: url("../assets/imgs/self2.jpg");
        background-repeat: no-repeat;
        position:relative;
    }
    .pic10{
        background-image: url("../assets/imgs/africa.jpg");
        background-repeat: no-repeat;
        position:relative;
    }
    .call{
        color:white;
        margin-left:30px;
    }

}
