page-page2 {

.cde{
    background-image: url("../assets/imgs/big.jpg");
    background-repeat: no-repeat;
    position:relative;
    background-attachment: fixed;
    background-size:100% 100%;
    
}

}
